@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,900;1,100;1,500;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
* {
  margin: 0;
  padding: 0; }

.top .empezarCompra, .encontranos .contactoBtn {
  height: 50px;
  width: 300px;
  margin: 20px;
  font-size: large;
  background-color: #EEBBC3;
  border-color: #232946; }
  .top .empezarCompra a, .encontranos .contactoBtn a {
    font-weight: bold;
    text-decoration: none;
    color: #232946; }
  .top .empezarCompra:hover, .encontranos .contactoBtn:hover {
    transform: scale(1.1);
    transition: 1s; }

.containerJuegos .card2 .infoCard .btn, .botonComprar .btn {
  height: 50px;
  width: 150px;
  margin: 5px auto 30px;
  background-color: #EEBBC3;
  border-color: #232946; }
  .containerJuegos .card2 .infoCard .btn a, .botonComprar .btn a {
    font-weight: bold;
    text-decoration: none;
    color: #232946; }
  .containerJuegos .card2 .infoCard .btn:hover, .botonComprar .btn:hover {
    transform: scale(1.1);
    transition: 1s; }

h1, .encontranos h3, .textoInicio, .historia__h1, .historia__p, .sponsor {
  text-align: center;
  color: white;
  font-family: "League Gothic", sans-serif;
  font-style: italic;
  font-size: 40px;
  max-width: 700px;
  margin: 80px auto;
  padding: 20px; }

.inicio {
  color: white;
  text-align: center;
  font-family: "League Gothic", sans-serif;
  margin: auto; }

.experiencia {
  font-size: 20px;
  color: #B8c1ec;
  text-align: center; }

.top {
  height: 100%;
  max-width: 100%;
  align-items: center;
  position: relative; }
  .top .fondo {
    max-width: 100%;
    height: auto; }
  .top .empezarCompra {
    position: absolute;
    top: 85%;
    left: 10%; }
  .top .empezarCompra:hover {
    transform: scale(1.1);
    transition: 0.5s; }
  .top .textoImagen {
    position: absolute;
    color: white;
    font-family: "Roboto", sans-serif;
    top: 100px;
    left: 70vw;
    font-size: 30px;
    z-index: 1; }

body {
  background-color: #232946; }

h1 {
  font-family: "Roboto", sans-serif; }

.encontranos {
  text-align: center; }
  .encontranos h3 {
    font-family: "Roboto", sans-serif;
    margin: auto; }
  .encontranos .contactoBtn {
    font-weight: bold; }

.containerJuegos {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center; }
  .containerJuegos .card2 {
    margin: 50px;
    width: 300px;
    background: white;
    border: 1px solid black; }
    .containerJuegos .card2:hover {
      background: #B8c1ec;
      transition: 0.5s; }
    .containerJuegos .card2 .infoCard p {
      text-align: center; }
    .containerJuegos .card2 .infoCard h4, .containerJuegos .card2 .infoCard .precio {
      font-weight: bold;
      font-size: 1.5rem; }
    .containerJuegos .card2 .infoCard .btn {
      margin: auto auto 20px 70px; }

.foot {
  width: 100%;
  height: 5vh;
  margin: auto;
  padding: 20px;
  background-color: #51557E;
  bottom: 0px;
  text-align: center;
  color: #FFFFFF;
  z-index: 2; }

.textoInicio {
  max-width: 1000px; }

.catalogo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px; }

.card {
  margin: 20px auto;
  width: 300px;
  border-radius: 20px;
  background: #020024;
  background: linear-gradient(180deg, #020024 0%, #51557e 0%, #b8c1ec 100%); }
  .card:hover {
    background: #B8c1ec;
    transition: 0.5s; }

.botonComprar {
  text-align: center;
  margin: 20px; }

.historia__h1 {
  font-family: "Roboto", sans-serif;
  font-size: 70px; }

.historia__p {
  font-family: "Roboto", sans-serif;
  max-width: 1000px;
  background-color: #51557E; }

.containerNosotros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center; }
  .containerNosotros .emp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #51557E;
    margin: 5%;
    border: 1px solid black;
    border-radius: 0px 15px;
    color: white; }
    .containerNosotros .emp h4 {
      padding: 20px; }

.carouselCliente {
  margin: auto;
  background-color: #232946;
  color: #B8c1ec;
  border-radius: 10px;
  opacity: 90%;
  align-items: center;
  max-width: 80%; }
  .carouselCliente .containerCliente {
    text-align: center;
    padding: 3% 15%; }

.fondo {
  min-height: 95vh;
  background: #020024;
  background: linear-gradient(180deg, #020024 0%, #232946 0%, #51557e 100%); }

.contactanos {
  max-width: 600px;
  text-align: center;
  margin: 40px auto;
  color: #B8c1ec; }

.formulario {
  background-color: #51557E;
  max-width: 700px;
  padding: 30px;
  margin: auto;
  border: 1px solid black;
  border-radius: 15px 0px; }
  .formulario h2, .formulario p, .formulario span {
    font-weight: bold;
    color: #B8c1ec; }
  .formulario .contFlex {
    display: flex;
    flex-direction: column; }
  .formulario .contFlex input {
    text-align: center;
    margin: 5px; }
  .formulario .envio:hover {
    transform: scale(1.1);
    transition: 0.5s;
    border-radius: 10px;
    background-color: #B8c1ec;
    font-weight: bold; }

@media (max-width: 1024px) {
  .top {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .top .empezarCompra {
      position: static; }
    .top .textoImagen {
      position: static; }
  .containerJuegos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .catalogo {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px; }
  .containerNosotros {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; } }

@media (max-width: 768px) {
  .formulario {
    max-width: 400px; }
  .carousel {
    max-width: 200px; }
  .catalogo {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px; } }
