.foot {
    width: 100%;
    height: 6vh;
    margin: 0 auto;
    padding: 20px;
    // position: fixed ;
    background-color: $colorFooter;
    bottom: 0;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
}