body {
    background-color: $colorBg;
}

h1{
    @extend %parrafos;
    font-family: $Roboto;
}

.encontranos{
    text-align: center;
    h3{
        @extend %parrafos;
        font-family: $Roboto;
        margin: auto;
    }
    .contactoBtn {
        @extend %estiloBotones;
        font-weight: bold;
    }
}


.containerJuegos{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    .card2 {
        margin: 50px;
        width: 300px;
        background: white;
        border: 1px solid black;
        &:hover{
            background: $textoPrimario;
            transition: 0.5s;
        }
        .infoCard{
        p {
            text-align: center;
        }
        h4, .precio{
            font-weight: bold;
            font-size: 1.5rem;
        }
        .btn {
            @extend %estiloBotonesChico;
            margin: auto auto 20px 70px ;
            }
        }
    }
}


