body {
    background-color: $colorBg;
}

.carousel {
    width: 800px; 
    height: 300px;
    margin: 50px auto;
}

.botonCompra {
    text-align: center;
    margin: 20px;
    .btn {
    @extend %estiloBotones;
    }
}

.textoImagen {
    position: absolute;
    color: $textoParrafos;
    font-family: $Roboto;
    margin: 30% 10px 10px 70%;
    font-size: 30px;
}

.inicio{
    color: white;
    text-align: center;
    font-family: $League;
}

.experiencia{
    font-size: 20px;
    color: $textoPrimario;
    text-align: center;
}